body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
/* Introduction CSS */
.headerContainer {
  display: flex;
  background-color: #1f2937;
  padding: 0;
  margin: 0;
  flex-direction: column;
  padding-bottom: 10vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 16px;
}
header {
  font-size: 24px;
  color: #f9faf8;
}
.rightLinks,
p {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding-left: 16px;
}
h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin: 0;
  padding: 0;
}
.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vh;
}
button {
  background-color: #3882f6;
  color: white;
  border: none;
  padding: 8px 32px 8px 32px;
  margin: 4px;
  border-radius: 15%;

}
.introImage {
    padding-left: 300px;
    width: 400px;
    height: auto;
    object-fit: contain;
}
/* ! Information css */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.infoImagesContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 5vh;

}
.infoImages{
    width: 200px;
    border:8px solid rgb(0, 132, 255);
    border-radius: 16px;
}
.pairs {
    margin: 8px 32px 8px 32px;
}
.pairs p {
    text-align: center;
    color: #1f2937;
}
/* quote Section */
.quoteContainer {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 10vh;
    align-items: center;
}
.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic
}
.quoteAuthor {
    font-size: 24px;
    color:#1f2937;
    padding-top: 32px;
}