body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.headerContainer {
  display: flex;
  background-color: #1f2937;
  padding: 0;
  margin: 0;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
      padding-left: 10vw;
    padding-right: 10vw;
}
header {
  font-size: 24px;
  color: #f9faf8;
}
.rightLinks,
p {
  color: #e5e7eb;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
  padding-left: 16px; 
}
h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
}